@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=IBM+Plex+Sans:wght@400;700&display=swap');

*,
a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1;
}

:root {
    --main-color: rgba(35, 36, 42);
    --secondary-color: rgba(44, 167, 255);
    --tertiary-color: rgba(181, 224, 255);
    --tertiary-color-light: rgba(181, 224, 255, 0.5);
    --placeholder: rgba(181, 224, 255, 0.1);

    --main-font: IBM Plex Sans, sans-serif;
    --secondary-font: DM Sans, sans-serif;

    --margins: 52px;
}

body {
    background-color: var(--main-color);
    color: var(--tertiary-color-light);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 18px;
    min-height: 100vh;
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: var(--margins);
    height: 53px;
}

main {
    width: 690px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.container-inputs {
    display: flex;
    flex-direction: column;
    gap: var(--margins);
    margin-bottom: var(--margins);
}

.container-result {
    border: none;
    border-top: 1px solid var(--tertiary-color-light);
    padding-top: var(--margins);
    min-width: 100%;
}

.container-title {
    letter-spacing: 0.25em;
    margin-bottom: 16px;
}

#value-number,
#operation-number {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 40px;
    color: var(--secondary-color);
    background-color: inherit;
    border: none;
    text-align: center;
    outline: none;
}

#result-number {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 128px;
    line-height: 0.9em;
    color: var(--secondary-color);
}

input::placeholder {
    font-weight: 400;
    color: var(--placeholder);
}

footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 8px;
    bottom: var(--margins);
    line-height: 0.8;
}

.footer-title {
    color: var(--tertiary-color);
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.1em;
}

.footer-copyright {
    font-size: 12px;
    color: var(--tertiary-color-light);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

/* Acessibilidade */
@media (max-width: 1080px) {
    main {
        width: 80%;
    }
}